body {
  background-color: #E5DEAF;
  color: #453625;
  margin: 0;
  padding: 0;
}

body, input {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

input {
  padding: 0.25em;
}

a {
  text-decoration: none;
}

#about {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em;
  background-color: #E5DEAF;
  color: #453625;
}

#about-dialog {
  margin:0;
  padding:0;
  text-align: center;
}

#forms {
  position: relative;
  padding: 0.25em;
  background-color: #453625;
  color: #A5A07E;
  border-top: 5px solid #69514A;
}

form input {
  background-color: #A5A07E;
  color: #453625;
  border: none;
}

form {
  margin-bottom: 0.25em;
}

#messages {
  padding: 1em;
  background-color: #A0B688;
  color: #557A66;
}

.message {
}

.payload {
  color: #4F3E22;
}

.status, .error, .channel, .nick {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.status {
  /*
  background-color: #69514A;
  color: #E5DEAF;
  */
  font-style: italic;
}

.status:before {
  content: "** "
}

.error {
  color: #E5DEAF;
}

.time {
  padding-right: 0.25em;
  margin-right: 0.25em;
  border-right: 5px solid #B08141;
}

.channel {
  float: right;
  background-color: #557A66;
  color: #A0B688;
}

.nick {
  background-color: #E5DEAF;
  color: #557A66;
  margin-right: 0.25em;
}

#currentNick {
  float: right;
  color: #A5A07E;
  padding-top: 0.25em;
  font-size: small;
}

.status > .nick {
  margin-right: 0;
}

