body {
  background-color: #382B42;
  color: #A35F44;
  font-family: 'Lucida Grande', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 128px;
  position: absolute;
  top: -100px;
  right: 0;
}

#forms {
  color: #EFBFAC;
  font-size: small;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

form {
  padding-right: 2em;
  margin-right: 0.5em;
  display: inline;
}

#messages {
  background-color: #5E3042;
  color: #E8773C;
  padding: 1em;
}

.message {
  margin: 0;
  padding: 0;
}

.payload {
  margin-left: 0.25em;
  color: #74AE94;
}

.status {
  color: #D69844;
}

.status:before {
  content: "** "
}

.error {
  color: #B04144;
  font-weight: bold;
}

.time {
  padding-right: 0.25em;
  margin-right: 0.25em;
  border-right: 2px solid #B08141;
}

.channel {
}

.channel:before {
  content: "[";
}

.channel:after {
  content: "]";
}

.nick {
  color: #f80;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.nick:before {
  content: "<";
}

.nick:after {
  content: ">";
}

